@font-face {
  font-family: 'Best Choice Demo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Best Choice Demo Regular'), url('./components/data/BestChoiceDemo-Regular.woff') format('woff');
  }